﻿body {
    background-color:lightgray;
}

.login_div {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 300px;
}

.header {
    width: 100%;
    height:150px;
    background-color: gray;
    text-align:right;
}

.menu {
    width: 200px;
    min-height: 100%;
    max-height: 100%;
    background-color: whitesmoke;
    float:left;
}

.content {
    max-width: 100%;
    height: 100%;
    background-color: darkgray;
    float:left;
}
