﻿<%@ Page Title="" Language="C#" MasterPageFile="~/SchoolMasterPage.Master" AutoEventWireup="true" CodeBehind="BehaviourViewAddDocument.aspx.cs" Inherits="eDziennik.App_View.Grupa_4.BehaviourViewAddDocument" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div>
        <asp:Label ID="Label3" runat="server" Text=""></asp:Label><br />
        <asp:Label ID="Label2" runat="server" Text="Label"></asp:Label>
    </div>
    
    <div>
        Wybierz datę:<br />
        <asp:Calendar ID="Calendar1" runat="server"></asp:Calendar><br />
        Treść:<br />
        <asp:TextBox ID="TextBox1" runat="server" TextMode="multiline"></asp:TextBox><br />
        <asp:Button ID="Button1" runat="server" Text="Wystaw" OnClick="Button1_Click" />
    </div>
    
</asp:Content>
