﻿<%@ Page Title="" Language="C#" MasterPageFile="~/SchoolMasterPage.Master" AutoEventWireup="true" CodeBehind="StudentContactViewEmail.aspx.cs" Inherits="eDziennik.App_View.Grupa_4.StudentContactViewEmail" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div>
        <asp:Label ID="Label1" runat="server" Text="Do: "></asp:Label>
        <asp:Label ID="Lto" runat="server" Text=""></asp:Label>
        <br />
        <asp:Label ID="Label3" runat="server" Text="Tytuł: "></asp:Label>
        <asp:TextBox ID="TextBox1" runat="server" ></asp:TextBox>
        <br />
        <asp:Label ID="Label2" runat="server" Text="Tekst: "></asp:Label>
        <asp:TextBox ID="TextBox2" runat="server" TextMode="multiline"></asp:TextBox>
        <br />
        <asp:Button ID="Button1" runat="server" Text="Wyślij" OnClick="Button1_Click" />
    </div>
</asp:Content>
